{% extends 'main.html' %}
{% load static %}

{% block content %}
        <div class="auth">
          <div class="card">
            <div class="auth__header text-center">
              <br>
              <br>
              <br>
              <a href="/">
                 <img src="{% static 'images/icon.svg' %}" alt="icon" style="width: 25%;" />
              </a>
              <h3>Account Login</h3>
              <p>Hello Developer, Welcome Back!</p>
            </div>
    
            <form method="post" action="" class="form auth__form" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="form__field">
                <label for="formInput#text">Username: </label>
                <input type="text" name="username" id="formInput#text" placeholder="Enter your username" required />
              </div>

              <div class="form__field">
                <label for="formInput#text">Password: </label>
                <input type="password" name="password" placeholder=".........">
              </div>

              <div class="auth__actions">
                <input class="btn btn--sub btn--lg" type="submit" value="Sign  In" />
              </div>

              <!-- <div class="auth__actions">
                <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
                <a href="#">Forget Password?</a>
              </div> -->
            </form>
            <div class="auth__alternative">
              <p>Don’t have an Account?</p>
              <a href="{% url 'signupUser' %}">Sign Up</a>
            </div>
          </div>
        </div>
{% endblock %}