{% extends 'main.html' %}

{% block content %}
 <!-- Main Section -->
 <main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'projects' %}"><i class="im im-angle-left"></i></a>
            <br>

            <form class="form" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">Title: </label>
                    {{form.title}}
                </div>

                <div class="form__field">
                    <label for="formInput#text">Description: </label>
                    {{form.description}}
                </div>

                <div class="form__field">
                    <label for="formInput#text">Tags: </label>
                    <input type="text" name="tag" value="{{project.tags.name}}" list="tag-list">
                <datalist id="tag-list">
                    <select id="formInput#text">
                        {% for tag in tags %}
                            <option value="{{tag.name}}">{{tag.name}}</option>
                        {% endfor %}
                    </select>
                </datalist>
                </div>

                <div class="form__field">
                    <label for="formInput#text">Image: </label>
                   {{form.featured_image}}
                </div>

                <div class="form__field">
                    <label for="formInput#text">Demo Link: </label>
                    {{form.demo_link}}
                </div>

                <div class="form__field">
                    <label for="formInput#text">Source Code: </label>
                    {{form.source_code}}
                </div>

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>
{% endblock content %}